* {
    margin: 0;
    padding: 0;
}

/* 頁首 */

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    position: fixed;
    z-index: 5;
}


/* 搜尋欄位 */

#search {
    display: inline-block;
    position: absolute;
    right: 130px;
    top: 15px;
    background-color: rgb(182, 212, 223);
    border-radius: 15px;
    border: 0px;
    width: 150px;
}

#loupe {
    position: absolute;
    width: 20px;
    right: 140px;
    top: 17px;
}


/* 導覽選單 */

#navi {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 66px;
}

.nav-item {
    display: inline-block;
    top: 5px;
}

.nav-item ul li {
    display: none;
    padding-top: 5px;
    background: black;
    opacity: 0.7;
    text-align: center;
}

.nav_ul {
    list-style: none;
    padding: 10px;
    left: 0;
    top: 0;
}

.nav_ul li {
    display: none;
}

.nav_ul a {
    text-decoration: none;
    color: yellow;
}

.nav_ul li a {
    text-decoration: none;
    color: yellow;
}


/* 下拉選單 */

.nav-item ul li a:link,
.nav-item ul li a:visited {
    text-decoration: none;
    color: yellow;
}

.nav-item ul li:hover {
    background: #555;
}

.nav-item ul li a:hover,
.nav-item ul li a:active {
    color: rgb(0, 255, 98);
}

.nav-item .nav_ul .switchDisplay {
    background: #ff0;
}

ul.switchDisplay li {
    display: block;
}


/* 背景亮度按鈕 */

#lightbtn {
    height: 50px;
    position: relative;
}

#btn-light {
    position: absolute;
    right: 15px;
    top: 5px;
}

#btn-dark {
    position: absolute;
    right: 15px;
    top: 5px;
    color: yellow;
}

.sunmoon {
    width: 30px;
}

#btn-light.-off {
    display: none;
}

#btn-dark.-off {
    display: none;
}

/* footer */

footer {
    width: 100%;
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    text-align: center;
    position: relative;
}

footer h5 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}

footer ul {
    text-align: left;
    list-style: none;
}

footer ul li {
    text-align: left;
}

footer ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
}

#ft_icons span img {
    width: 30px;
}

#ft_icons {
    text-align: left;
}

#ft_icons a {
    text-decoration: none;
}

footer .copyright {
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 12px;
}

footer .copyright a {
    text-decoration: none;
    color: white;
}

footer .copyright a:hover,
footer .copyright a:active {
    color: #ffc107;
}

#linerobot {
    width: 150px;
}