body {
    background-color: #2A2B3D;
}


/* main工作區 */

.main {
    margin: 0 auto;
}

.main h2 {
    color: white;
}

.login_area {
    width: 60%;
    max-width: 800px;
    margin-top: 100px;
    /* height: 500px; */
    background-color: rgb(220, 211, 211);
    margin: 150px auto;
    border-radius: 30px;
    text-align: center;
}

.login_area h2:first-child {
    padding-top: 20px;
}

.login_area h2 {
    color: #111827;
}

.form-floating {
    margin-top: 15px;
}

.login_area .btn {
    margin: 20px 10px;
}

a {
    text-decoration: none;
}


/* footer */

footer {
    margin-top: 50px;
    background-color: #6f6486;
    color: white;
    text-align: center;
}

footer.copyright {
    width: 100%;
    background-color: #6f6486;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: orange;
}