* {
    margin: 0;
    padding: 0;
}


/* 頁首 */

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    position: fixed;
    z-index: 5;
}


/* LOGO */

.team_logo {
    position: absolute;
    width: 170px;
    left: 10px;
}

header .hide_item_out {
    position: relative;
    top: 130px;
}

.underheader {
    height: 100px;
}


/* 導覽選單 */

#navi {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 66px;
}

.nav-item {
    display: inline-block;
    top: 5px;
}

.nav-item ul li {
    display: none;
    padding-top: 5px;
    background: black;
    opacity: 0.7;
    text-align: center;
}

.nav_ul {
    list-style: none;
    padding: 10px;
    left: 0;
    top: 0;
}

.nav_ul li {
    display: none;
}

.nav_ul a.mumipay {
    font-size: 12px;
}

.nav_ul a,
.nav_ul li a {
    text-decoration: none;
    color: white;
}


/* 下拉選單 */

.nav-item ul li a:link,
.nav-item ul li a:visited {
    text-decoration: none;
    color: white;
}

.nav-item ul li:hover {
    background: #555;
}

.nav-item ul a:hover,
.nav-item ul li a:hover,
.nav-item ul li a:active {
    color: rgb(0, 255, 98);
}

.nav-item .nav_ul .switchDisplay {
    background: #ff0;
}

ul.switchDisplay li {
    display: block;
}


/* 背景亮度按鈕 */

#lightbtn {
    display: inline-block;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 5px;
}

#btn-dark {
    color: yellow;
}

.sunmoon {
    width: 30px;
}

#btn-light.-off {
    display: none;
}

#btn-dark.-off {
    display: none;
}


/* 漢堡選單 */

.hamberger_menu {
    position: absolute;
    width: 30px;
    right: 20px;
    top: 60px;
    display: none;
}

.hide_menu {
    position: fixed;
    z-index: 10;
    background-color: gray;
    width: 400px;
    display: none;
}

.accordion-button {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.accordion-body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.hide_menu.-bye {
    left: -400px;
}

.hide_menu .accordion-body ul li {
    list-style: none;
}

.hide_menu .accordion-body ul li a {
    text-decoration: none;
    color: #537895;
}


/* main工作區 */

main.-dark {
    background-color: #111111;
}

main {
    padding-top: 100px;
    width: 100%;
    padding-bottom: 100px;
    margin: 0 auto;
}

main .register {
    max-width: 600px;
    margin: 0 auto;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    border-radius: 15px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

ul li{
	list-style: none;
}

.register .logo {
    text-align: center;
    height: 150px;
    border-radius: 15px;
}

.logo img {
    margin-top: 30px;
    width: 300px;
}

.register h2 {
    margin-top: 100px;
}

.register .form-floating {
    margin: 10px 0;
}

.register .announcement {
    margin-top: 20px;
}

.register #btn_primary {
    margin-bottom: 15px;
    margin-right: 5px;
}

.register #btn_secondary {
    margin-bottom: 15px;
    margin-left: 5px;
}

.register .announcement p {
    font-size: 12px;
    color: red;
    margin-bottom: 5px;
    text-align: center;
}

.register a.loginlink {
    font-size: 12px;
    padding-bottom: 15px;
    display: block;
}

.forget{
	font-size: 16px;
    color: white;
    text-decoration: none;
}


/* main工作區結束 */


/* footer */

footer {
    width: 100%;
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    text-align: center;
    position: relative;
}

footer h5 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
    color: white;
}

footer ul {
    text-align: left;
    list-style: none;
}

footer ul li {
    text-align: left;
}

footer ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
}

.focus_us {
    display: block;
    text-align: left;
}

.focus_us p {
    display: inline-block;
    margin: 0 0 0 5px;
    color: white;
}

.focus_us a {
    text-decoration: none;
    color: antiquewhite;
    margin-left: 30px;
}

footer .copyright {
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 12px;
}

footer .copyright a {
    text-decoration: none;
    color: white;
}

footer a:hover,
footer a:active {
    color: #ffc107;
}

#linerobot {
    width: 150px;
}

@media (max-width: 768px) {
    .nav-item {
        display: none;
    }
    .hamberger_menu {
        display: block;
    }
    .hide_menu {
        display: block;
    }
}