* {
    margin: 0;
    padding: 0;
}


/* ���� */

header {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    position: fixed;
    z-index: 5;
}

header h2 {
    color: yellow;
    position: absolute;
    top: 60px;
    left: 120px;
}


/* LOGO */

.team_logo {
    position: absolute;
    width: 100px;
    left: 10px;
}


/* ������ */

#search {
    display: inline-block;
    position: absolute;
    right: 130px;
    top: 15px;
    background-color: rgb(182, 212, 223);
    border-radius: 15px;
    border: 0px;
    width: 150px;
}

#loupe {
    position: absolute;
    width: 20px;
    right: 140px;
    top: 17px;
}


/* 撠汗�� */

#navi {
    position: absolute;
    display: flex;
    justify-content: center;
    right: 0;
    top: 66px;
}

.nav-item {
    display: inline-block;
    top: 5px;
}

.nav-item ul li {
    display: none;
    padding-top: 5px;
    background: black;
    opacity: 0.7;
    text-align: center;
}

.nav_ul {
    list-style: none;
    padding: 10px;
    left: 0;
    top: 0;
}

.nav_ul li {
    display: none;
}

.nav_ul a {
    text-decoration: none;
    color: yellow;
}

.nav_ul li a {
    text-decoration: none;
    color: yellow;
}

.underheader {
    height: 100px;
}


/* 瞍Ｗ�� */

.hamberger_menu {
    position: absolute;
    width: 30px;
    right: 20px;
    top: 60px;
    display: none;
}

.hide_menu {
    position: absolute;
    z-index: 10;
    background-color: gray;
    width: 400px;
    display: none;
}

.accordion-button {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.accordion-body {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.hide_menu.-bye {
    left: -400px;
}

.hide_menu .accordion-body ul li {
    list-style: none;
}

.hide_menu .accordion-body ul li a {
    text-decoration: none;
    color: #537895;
}


/* 銝�� */

.nav-item ul li a:link,
.nav-item ul li a:visited {
    text-decoration: none;
    color: yellow;
}

.nav-item ul li:hover {
    background: #555;
}

.nav-item ul li a:hover,
.nav-item ul li a:active {
    color: rgb(0, 255, 98);
}

.nav-item .nav_ul .switchDisplay {
    background: #ff0;
}

ul.switchDisplay li {
    display: block;
}


/* ��鈭桀漲���� */

#lightbtn {
    height: 50px;
    position: relative;
}

#btn-light {
    position: absolute;
    right: 15px;
    top: 5px;
}

#btn-dark {
    position: absolute;
    right: 15px;
    top: 5px;
    color: yellow;
}

.sunmoon {
    width: 30px;
}

#btn-light.-off {
    display: none;
}

#btn-dark.-off {
    display: none;
}


/* main撌乩�� */

main.-dark {
    background-color: #111111;
    color: white;
}

main {
    padding: 30px 70px;
    width: 100%;
    /* height: 1000px; */

}


main *{
    /* border: 1px red solid; */
}



div.movie-info{
    
}




.container{

    padding-top: 10px;
}

button.btn-outline-primary{
  
   text-align: right;
}

.container h1.title{
    text-align: center;
}

.card{
    margin-left: 3px;
}

.card-img-top{
    max-height: 80%;
}





















.container1 {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: #000 solid 1px;
    /* background-color: rgb(250, 250, 238); */
}


div.movie_info {
    position: relative;
    border-style: ridge;
    transition: transform .5s, box-shadow .5s;
    width: 200px;
    box-shadow: 0 0 20px gray;
    /* padding: 10px; */
    
    /* border: solid black 3px; */
}

div.movie_info:hover {
    box-shadow: 0 0 20px black;
    transform: scale(1.05);
    transform-origin: center center;
}

img.img_poster {
    width: 100%;
    /* height: 400px;  */
}

div.title_info {
    margin-top: 5px;
    overflow: hidden;
}

h5.title_name {
    float: left;
}

img.level {
    width: 30px;
    float: right;
}

p.en_title {
    /* margin-bottom: 10px; */
}

div.stars{
    position: relative;
    height: 40px;
}

p.star{
    width: 10%;
    /* float:left; */
    display:inline;
    margin-top: 10px;
/*     position: absolute; */
/*     left: 5px; */
    
}

i.fa-star{
    color: #ff0;
    display: inline;
    /* float:left; */
    /* margin-top: 5px; */
/*     position: absolute; */
/*     left: 30px; */
    bottom: 5px;
}

button.btn_info {
    /* float:right; */
    margin-left: 9px; 
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    padding: 5px 10px 5px;
    /* display: inline-block; */
    outline: none;
    text-decoration: none;
    /* color: rgb(12, 10, 10); */
}

button.btn_info:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}


.slick-slide {
    margin: 30px;
}

.slick-slider{
    /* padding: 100px; */
}
.slick-arrow{
    z-index: 1;
    margin-left: -40px;
    margin-right: -3px;
}

.slick-next:before  {
    padding: 20px 3px 20px;
    background-color: #000;
    border-radius: 20px;
    font-size: 50px !important;
}
.slick-prev:before{
    padding: 20px 3px 20px;
    background-color: #000;
    border-radius: 20px;
    font-size: 50px !important;
}
.slick-prev:before {
    
    /* color: red; */
    
  }
  
  .slick-next:before {
   
    color: red;
   
  }






/* main撌乩��蝯�� */


/* footer */

footer {
    width: 100%;
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    text-align: center;
    position: relative;
}

footer h5 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 30px;
}

footer ul {
    text-align: left;
    list-style: none;
}

footer ul li {
    text-align: left;
}

footer ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 14px;
}

#ft_icons span img {
    width: 30px;
}

#ft_icons {
    text-align: left;
}

#ft_icons a {
    text-decoration: none;
}

footer .copyright {
    background-image: linear-gradient(to top, #537895 100%, #09203f 0%);
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 12px;
}

footer .copyright a {
    text-decoration: none;
    color: white;
}

footer .copyright a:hover,
footer .copyright a:active {
    color: #ffc107;
}

#linerobot {
    width: 150px;
}

@media (max-width: 768px) {
    .nav-item {
        display: none;
    }
    .hamberger_menu {
        display: block;
    }
    .hide_menu {
        display: block;
    }
}