<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://unicons.iconscout.com/release/v3.0.6/css/line.css'>
<link rel="stylesheet" href="css/admin_index.css">

<style>
/* 文章內文 */
.articleContain{
    position: fixed; top: 100px; left: 50%; transform: translate(-120px, 0px); width: 500px;
    padding: 10px; 
    border: 1px solid #888888;
    background-color: #eeeeee; 
    box-shadow: 0px 0px 10px #000000;
/*     display: none; */
}

.close_contain{
	position: absolute;
	top: 0px;
	right: 5px;
	cursor:pointer; /*cursor游標pointer指針:改變鼠標*/
}



</style>


</head>



<body>
	<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
        <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
        <div class="sidebar-header d-flex justify-content-center align-items-center px-3 py-4">
            <!-- 影城LOGO -->
            <img class="img-logo" src="image/others/mujilogo.png" alt="">
            <div class="ms-2">
                <h5 class="fs-6 mb-0 title-h5">
                    MUMI MOVIE
                </h5>
                <h5 class="fs-6 mb-0 title-h5">
                    吾映良影
                </h5>
                <h5 class="fs-6 mb-0 title-h5">
                    後臺管理系統
                </h5>
            </div>
        </div>

        <div class="search position-relative text-center px-4 py-3 mt-2">
            <input type="text" class="form-control w-100 border-0 bg-transparent" placeholder="Search here">
            <i class="fa fa-search position-absolute d-block fs-6"></i>
        </div>

        <!-- 左邊側邊欄功能列 -->
        <ul class="categories list-unstyled">
            <li class="has-dropdown">
                <a href="#"> 會員管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="system_info_list.html">會員資料列表</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 電影管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">電影上架</a></li>
                    <li><a href="#">電影下架</a></li>
                    <li><a href="#">自動排程設定</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 商品管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">商品上架</a></li>
                    <li><a href="#">商品下架</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 討論區管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">留言檢舉機制</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 票券管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">自動排程</a></li>
                    <li><a href="#">寄信提醒</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 座位管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">影廳座位設定</a></li>
                    <li><a href="#">保留位設定</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 員工管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">員工查詢</a></li>
                    <li><a href="#">新增員工</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 公告管理</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="#">公告</a></li>
                    <li><a href="#">登出</a></li>
                    <li><a href="#">回到前台首頁</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#"> 其他</a>
                <ul class="sidebar-dropdown list-unstyled">
                    <li><a href="admin_login.html">切換帳號</a></li>
                    <li><a href="admin_login.html">登出</a></li>
                    <li><a href="index.html">回到前台首頁</a></li>
                </ul>
            </li>
        </ul>
    </aside>

    <section id="wrapper">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid mx-2">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar" aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="uil-bars text-white"></i>
        </button>
                    <a class="navbar-brand" href="#">影城後台管理系統</a>
                </div>
                <div class="collapse navbar-collapse" id="toggle-navbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i data-show="show-side-navigation1" class="uil-bars show-side-btn"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
   	</section>
		<!-- 主要工作區 -->
	    <div class="jumbotron">
	        <ul class="nav nav-tabs">
	            <li class="nav-item"><a href="AdminForumIndex.html" class="nav-link">全部文章</a></li>
	            <li class="nav-item"><a href="javascript:void(0)" class="nav-link">全部文章(不含自刪)</a></li>
	            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" onclick="">全部檢舉文章</a></li>
	            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" onclick="">未處理檢舉文章</a></li>
	        </ul>
	        <br>
	    </div>
	            <!-- 文章列表 -->
	            <table id="tableAll" class="table table-bordered" style="display: block;">
	                <thead style="background-color: lightgray; text-align: center;">
	                    <tr>
	                        <th class="col-1">文章編號</th>
	                        <th class="col-3">標題</th>
	                        <th class="col-1">發表時間</th>
	                        <th class="col-1">更新時間</th>
	                        <th class="col-1">互動／人氣</th>
	                        <th class="col-1">員工編號</th>
	                        <th class="col-1">狀態</th>
	                        <th class="col-1">內文</th>
	                        <th class="col-1">修改狀態</th>
	                        <th class="col-1">完全刪除</th>
	
	                    </tr>
	                </thead>
	
	            </table>


<script src="vendors/jquery-3.6.0.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
<script src="js/admin_index.js"></script>

<script>
		let url;
		const tbodyAll = document.querySelector('#boardAll');
		const tableAll = document.querySelector('#tableAll');

    	// 網頁load後顯示全部文章
  		window.addEventListener('load', () => {
             			
            if (url == null){	
            	url = 'GetAllArticleServlet'; //網址
            }	
            console.log("window="+ url);    
            showBoardArticle(url);

        });
    	
  	// 顯示板塊文章
    	function showBoardArticle(url) {
            fetch(url)
            .then(resp => resp.json())
            .then(list => {
                for (let e of list) {
                    if (e.article_updated == null) {
                        e.article_updated = e.article_publish;
                    }
                    tableAll.insertAdjacentHTML('beforeend', `
	                    <tbody>
		                    <tr>
		                        <td>${e.article_id}</td>
		                        <td>${e.article_subject}</td>
		                        <td>${e.article_publish}</td>
		                        <td>${e.article_updated}</td>
		                        <td>
		                            <p class="badge bg-light text-dark">${e.article_like_num}</p>
		                            <span>／</span>
		                            <p class="badge bg-light text-dark">${e.article_dislike_num}</p>
		                        </td>
		                        <td>${e.mem_id}</td>
		                        <td>${e.article_state}</td>
		                        <td><button type="button" class="btn_contain">內文</button></td>
		                        <td><button type="button" class="btn_state">修改狀態</button></td>
		                        <td>
		                        	<form action="DeleteArticleServlet" method="post">
		                        		<input type="hidden" name="article_id" value="${e.article_id}"></input>
		                      			<button type="submoit" class="btn_entirelyDelete">完全刪除</button>
		                      			</form>
		                      	</td>
		                        <td>
									<div class="articleContain" style="display: none">
										<div class="close_contain">X</div>
										<div class="articleDetail">${e.article_contain}</div>
									</div>
		                        </td>
		                    </tr>
	                    </tbody>
`);
                }
            });
		}
  		
    	$(document).on("click", ".btn_contain", function() {
    		console.log($(this).closest("tr").find("div[class*=articleContain]"));
    		$(this).closest("tr").find("div[class*=articleContain]").attr("style" , "display :block");
    	})

    	$(document).on("click", ".close_contain", function() {
    		console.log($(this).closest(".articleContain"));
    		$(this).closest(".articleContain").attr("style" , "display :none");
    	})
  		
    	


</script>


</body>
</html>