<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mumi Movie - 討論區</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    	  rel="stylesheet">	
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/forumIndex.css">

<style>
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
</style>


</head>


<body>
    <header>
        <!-- 專題LOGO -->
        <a class="link_index" href="../index/index.jsp">
            <img class="team_logo" src="../index/image/others/mujilogo.png" alt="">
        </a>
        
        
        <!-- 背景亮度按鈕 -->
        <div id="lightbtn">
            <button type="button" class="btn btn-success btn-ln" id="btn-light">Light
                <span>
                    <img id="sun" class="sunmoon" src="../index/image/icons/sun.png" alt="">
                </span>
            </button>
            <button type="button" class="btn btn-dark btn-ln -off" id="btn-dark">Dark
                <span>
                    <img id="moon" class="sunmoon -off" src="../index/image/icons/crescent-moon.png" alt="">
                </span>
            </button>
        </div>
        <nav id="navi">


            <div class="nav-item">
                <ul class="nav_ul" id="movie_ul">
                    <a href="#">電影資訊</a>
                    <li class="nav_li">
                        <a href="../Movie_overview/movie_overview_all.jsp">電影總覽</a>
                    </li>
                    <li class="nav_li">
                        <a href="../Movie_overview/movie_overview_now.jsp">現正熱映</a>
                    </li>
                    <li class="nav_li">
                        <a href="../Movie_overview/movie_overview_soon.jsp">即將上映</a>
                    </li>
                </ul>
            </div>

            <div class="nav-item">
                <ul class="nav_ul" id="ticket_ul">
                    <a href="#">訂票系統</a>
                    <li class="nav_li">
                        <a href="../ticket_orders/order_beware.jsp">確認劃位</a>
                    </li>
                </ul>
            </div>

            <div class="nav-item">
                <ul class="nav_ul" id="forum_ul">
                    <a href="#">討論區</a>
                    <li class="nav_li">
                        <a href="../forum_article/ForumIndex.html">討論區</a>
                    </li>
                </ul>
            </div>

            <div class="nav-item">
                <ul class="nav_ul" id="member_ul">
                    <a href="#">會員專區</a>
                    <li class="nav_li">
                        <a href="../mem/mem_register.jsp">註冊會員</a>
                    </li>
                    <li class="nav_li">
                        <a href="../mem/mem_profiles.jsp">會員資料</a>
                    </li>
                    <li class="nav_li">
                        <a href="../mem/mem_revise.jsp">修改資料</a>
                    </li>
                    <li class="nav_li">
                        <a href="../mem/check_order_beware.jsp">歷史消費</a>
                    </li>
                    <li class="nav_li">
                        <a style="font-size: 14px" href="../index/login.jsp" class="checksession">登入/登出</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- 漢堡選單按鈕 -->
        <div class="">
            <a href="#"><img src="../index/image/icons/movie.png" alt="" class="hamberger_menu"></a>
        </div>

    </header>
    <!-- 空白top 100px -->
    <div class="underheader"></div>

    <!-- 漢堡側邊攔位 -->
    <div class="hide_menu -bye">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        會員專區
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <a href="../mem/mem_register.jsp">註冊會員</a>
                            </li>
                            <li>
                                <a href="../mem/mem_profiles.jsp">會員資料</a>
                            </li>
                            <li>
                                <a href="../mem/mem_revise.jsp">修改資料</a>
                            </li>
                            <li>
                                <a href="../mem/check_order_beware.jsp">歷史消費</a>
                            </li>
                            <li>
								<a href="../index/login.jsp" class="checksession" >登入/登出</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        電影資訊
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                        	<li class="nav_li">
		                        <a href="../Movie_overview/movie_overview_all.jsp">電影總覽</a>
		                    </li>
                            <li>
                                <a href="../movie_overview_now.jsp">現正熱映</a>
                            </li>
                            <li>
                                <a href="../movie_overview_soon.jsp">即將上映</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        訂票系統
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>
                                <a href="../ticket_orders/order_beware.jsp">確認劃位</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        討論區
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                        	<li>
                                <a href="../forum_article/ForumIndex.html">討論區</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="hiddenform" style="display:none;">
    	<form id="submitcheck" action="Logout" method="post">
        	<input type="hidden" name="action" value="logout">
            <button type="submit" id="btn-primary" class="btn btn-primary">確定登出</button>
        </form>
    </div>

	<!-- 討論區主體 -->
	<main class="container">
		<!-- 熱門文章 -->
		<div class="container px-4 py-5" id="featured-3">
			<h5 class="pb-2 border-bottom">熱門文章</h5>
			<div id="hotAricle" class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			
			
			</div>
		</div>



		<div class="row g-5">
			<div class="col-md-9">
					<a href="postArticle.jsp" class="btn btn-success btn-sm" style="float: right">發表文章</a>
				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="javascript:void(0)" id="AllArticle" class="nav-link" onclick="changeBoard(0)">全部文章</a></li>
					<li class="nav-item"><a href="javascript:void(0)" id="boardDiscuss" class="nav-link" onclick="changeBoard(1)">綜合討論</a></li>
					<li class="nav-item"><a href="javascript:void(0)" id="boardMovie" class="nav-link" onclick="changeBoard(2)">電影心得</a></li>
					<li class="nav-item"><a href="javascript:void(0)" id="boardTheater" class="nav-link" onclick="changeBoard(4)">影城討論</a></li>
				</ul>
				<br>
					<!-- 全部文章 -->
					<table id="tableAll" class="table table-bordered" style="display: block;">
						<thead style="background-color: lightgray; text-align: center;">
							<tr>
								<th class="col-1">分類</th>
								<th class="col-2">首圖</th>
								<th class="col-5">標題</th>
								<th class="col-2">人氣指數</th>
								<th class="col-2">最近更新</th>
							</tr>
						</thead>

						<tbody id="boardAll" class="table">

						</tbody>
						
					</table>
					
				<article>
					
				</article>



			</div>

			<div class="col-md-3">
				<div class="position-sticky" style="top: 20%;text-align: center;">
					<div id="mem_info" class="p-4 mb-3 bg-light rounded">
						<p class="mb-0" id="mem_mail"></p>
						<p class="mb-0">Hello!<br><span id="mem_nickname"></span></p>
					</div>
						<a href="#" onclick="window.open('../ChatRoom/ChatRoomPage.html ', 'ChatRoom', config='height=925,width=475')" class="btn btn-warning" style="float: none;">聊天室</a>
						
				</div>
			</div>
		</div>
		<br>
	</main>
	
	<footer>
        <div class="container">
            <div class="row row-cols-2">
                <div class="col col-md-3 col-sm-6">
                    <h5>服務項目</h5>
                    <ul>
                        <li>
                            <a href="../index/login.jsp">會員登入</a>
                        </li>
                        <li>
                            <a href="../Movie_overview/movie_overview_all.jsp">電影總覽</a>
                        </li>
                        <li>
                            <a href="../forum_article/ForumIndex.html">討論區</a>
                        </li>
                        <li>
                            <a href="../index/mumi_movie_map.jsp">網站地圖</a>
                        </li>
                        <li>
                            <a href="../index/ermodel.jsp">ER Model</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-3 col-sm-6">
                    <h5>工商專區</h5>
                    <ul>
                    	<li>
                    		<p style="margin:0;color:white;">TGA101第一組</p>
                            <a target="_blank" href="http://35.229.209.41:80/mether/metherIndex.jsp">MetHer網紅廠商媒合平台</a>
                        </li>
                        <li>
                        <hr>
                        	<p style="margin:0;color:white;">TGA101第三組</p>
                            <a target="_blank" href="http://35.189.185.149:8081/Adopets/views/catInfo/My_home.jsp">Adopet寵物領養平台</a>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-3 col-sm-6">
                    <h5>關注我們</h5>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/1FvkVquqoKRgwpjlaPAfuDpjvcCElwwgF?usp=sharing"> 張志鵬</a>
                        <p>會員系統</p>
                    </span>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/1Hu3MXljw2mPs8y4uqIq2coDHt4OiEwLV?usp=sharing">郭家榮</a>
                        <p>討論區</p>
                    </span>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/143UhfMZr6X_sGmmouBIsc_2DskIW7vHH">蕭仲威</a>
                        <p>電影系統</p>
                    </span>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/1sixqrgkXZrUoEDbod4Wi2mygZyp2dl0i?usp=sharing">吳宗哲</a>
                        <p>影廳系統</p>
                    </span>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/14u0F868uYrXT8pDRCgaNoy9M3Rep6ji6?usp=sharing">徐浩鈞</a>
                        <p>公告系統</p>
                    </span>
                    <span class="focus_us">
                        <a target="_blank" href="https://drive.google.com/drive/folders/1dJ3kpYDJpT8bTvJQEKBN8G5JJ5Vr8Xh5">陳鏡</a>
                        <p>聊天室系統</p>
                    </span>
                </div>
                <div class="col col-md-3 col-sm-6">
                    <h5>加入好友</h5>
                    <ul>
                        <li>
                            <span>
                                <img id="linerobot" src="image/others/robot.png" alt="">
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="copyright">
            Copyright © 2022 MUMI MOVIE 吾映良影 Co. 保留所有權利。
            <a href="#">隱私政策</a>
            <a href="#">使用條款</a>
        </div>
    </footer>
	
    
    <div class="hiddenform" style="display:none;">
    	<form id="submitcheck" action="member/Logout" method="post">
        	<input type="hidden" name="action" value="logout">
            <button type="submit" id="btn-primary" class="btn btn-primary">確定登出</button>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/forumIndex.js"></script>
	
	
	<script>
	    window.onload=function(){
	        $(".checksession").on("click", function() {
	            $("#submitcheck").submit();
	        });
	    }
    </script>
    
</body>

</html>