body {
    background-color: #2A2B3D;
}


/* main工作區 */

.main {
	width: 100%;
    margin: 0 auto;
/*     top: 50%;  */
/*     transform: translateY(-50%); */
}

.main h2 {
    color: white;
}

.login_area {
    width: 60%;
    max-width: 600px;
    margin-top: 100px;
    background-color: rgb(220, 211, 211);
    margin: 150px auto;
    border-radius: 30px;
    text-align: center;
}

.login_area h2:first-child {
    padding-top: 20px;
}

.login_area h2 {
    color: #111827;
}

.form-floating {
    margin-top: 15px;
}

.login_area .btn {
    margin: 20px 10px;
}

a {
    text-decoration: none;
}


/* footer */


footer {
	margin-top:50px;
	position: fixed;
}

footer .copyright {
    width: 100%;
    background-color: #6f6486;
	position: fixed;
	bottom:0;
	text-align: center;
    color: white;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: orange;
}