.container {
	padding: 0px;
	font-size: 16px;
}

/* 檢舉內文 */
.report_choose{
    position: fixed; top: 100px; left: 20%; transform: translate(-120px, 0px); width: 500px;
    padding: 10px; 
    border: 1px solid #888888;
    background-color: #eeeeee; 
    box-shadow: 0px 0px 10px #000000;

}