* {
	margin: 0;
	padding: 0;
}

main {
	padding-top: 100px;
	width: 100%;
	padding-bottom: 100px;
	margin: 0 auto;
}

main .postarticle {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	border-radius: 15px;
	padding-left: 5%;
	padding-right: 5%;
}

.postarticle .logo {
	text-align: center;
	height: 150px;
	border-radius: 15px;
}

.logo img {
	margin-top: 30px;
	width: 300px;
}

.postarticle h3 {
	text-align: center;
	margin-top: 100px;
}

.postarticle .comtainer {
	margin: 10px 0;
	text-align: left;
}

.postarticle .form-floating {
	margin: 10px 0;
	text-align: left;
}


.summernote {
	text-align: left;
}